<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../js/wow.min.js"></script>
<script>
  new WOW().init();
</script>
<script>
  $(document).ready(function() {
	  // get current URL path and assign 'active' class
	  var pathname = window.location.pathname;
	  $('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
  })
  /*
  $('#navbar-spy > ul.nav li a').click(function(e) {
    var $this = $(this);
    $this.parent().siblings().removeClass('active').end().addClass('active');
    //e.preventDefault();
    $('#content').load($this.href());
  });

  $(function() {
    $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
  });


  
  $(function($) {
    var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
    $('ul a').each(function() {
      if (this.href === path) {
        $(this).addClass('active');
      } else {c
        $(this).remove('active');
      }
    });
  });
  */
</script>